body, html {
  height: 100%;
  width: 100%;
}

.collapse {
justify-content: flex-end;

}

#nav-bar{
  background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none;
   
}

.hamburger{
background-color: rgb(119, 78, 78);
}

.btn:hover {
  opacity: 1
}



.coleman {
  box-shadow: 12px 12px 2px 1px rgb(119, 78, 78);
}

.intro {
  box-shadow: 12px 12px 2px 1px rgb(119, 78, 78);
}

.nav-link{
justify-content: end;

}
.text-white{
  font-size: 2em;
  text-shadow: 1px 1px;
}

.bg1 {
background-image: url("https://images.unsplash.com/photo-1465244554671-e501f19a3bb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
z-index: 1;
}

.middle {
  background-color: #a4d1c8;


/* height: 100%;
width: 100%; */

}


.types {
 
  background-color:#f77754;
}
/* 
#cbody {
  max-width: 400px;
  max-height: 400px;
} */
#jen-vid {
justify-content: space-evenly;
}

.logoarea{
  background-color: #537d91;
}

#Houses {
  background-color: rgb(119, 78, 78);
  color: #a4d1c8;
  font-size: 1.25rem;
  position: relative;
  top: 5rem;
  margin-bottom: 1rem;

}

/* h4 {
  padding-top: 2rem;
} */

/* .sold-sign {
  margin-left: 2rem;
}  */


.sold{

background-color: none;
justify-content: space-around;
margin-left: 4rem;
margin-right:4rem;
border-top: 5px solid thistle;


}


 main button {
position: absolute;
bottom: -2rem;

}

#footer-bar{
  justify-content: center;
  width:100%
}

#footer-icons {
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

